<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
 <context:property-placeholder
		location="file:${catalina.home}/conf/application.properties" />
	<bean class="com.spark.test.AppConfiguration">
		<property name="driverclass" value="${db.driver.class}" />
		<property name="dburl" value="${db.jdbc.url}" />
		<property name="dbuser" value="${db.user}" />
		<property name="dbpassword" value="${db.password}" />
	</bean>

</beans>
